<a href="https://colab.research.google.com/github/grace-mariya/Data-Ai-Journey/blob/main/Knn_Excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [148]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data 1

In [149]:
df =  pd.read_csv('/content/drive/MyDrive/livingcost_india_all_inr (4).csv')
df

,City,cost_one_person_usd,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used,source_url
0,Adoni,346,132.0,329,197.0,0.9,30400.8700,11598.0200,28907.1900,17309.1700,87.8638,https://livingcost.org/cost/india/ap/adoni
1,Anantapur,345,136.0,571,435.0,1.7,30313.0100,11949.4800,50170.2300,38220.7500,87.8638,https://livingcost.org/cost/india/ap/anantapur
2,Chirala,295,102.0,555,453.0,1.8,25919.8200,8962.1100,48764.4100,39802.3000,87.8638,https://livingcost.org/cost/india/ap/chirala
3,Chittoor,400,81.5,404,322.5,1.4,35145.5200,7160.9000,35496.9800,28336.0800,87.8638,https://livingcost.org/cost/india/ap/chittoor
4,Eluru,298,89.2,384,294.8,1.3,26183.4100,7837.4500,33739.7000,25902.2500,87.8638,https://livingcost.org/cost/india/ap/eluru
...,...,...,...,...,...,...,...,...,...,...,...,...
216,Siliguri,297,91.2,279,187.8,0.9,26095.5500,8013.1800,24514.0000,16500.8200,87.8638,https://livingcost.org/cost/india/wb/siliguri
217,South Dumdum,301,118.0,370,252.0,1.1,26447.0000,10367.9300,32509.6100,22141.6800,87.8638,https://livingcost.org/cost/india/wb/south-dumdum
218,Uluberia,324,119.0,376,257.0,1.2,28467.8700,10455.7900,33036.7900,22581.0000,87.8638,https://livingcost.org/cost/india/wb/uluberia
219,Uttarpara,312,116.0,291,175.0,0.9,27413.5100,10192.2000,25568.3700,15376.1600,87.8638,https://livingcost.org/cost/india/wb/uttarpara
220,Alleppey,342,112.5,301,188.5,0.9,30049.4196,9884.6775,26447.0038,16562.3263,87.8638,https://hiracost.com/cost/india/kerala/alleppey/

In [150]:
df.head()

,City,cost_one_person_usd,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used,source_url
0,Adoni,346,132.0,329,197.0,0.9,30400.87,11598.02,28907.19,17309.17,87.8638,https://livingcost.org/cost/india/ap/adoni
1,Anantapur,345,136.0,571,435.0,1.7,30313.01,11949.48,50170.23,38220.75,87.8638,https://livingcost.org/cost/india/ap/anantapur
2,Chirala,295,102.0,555,453.0,1.8,25919.82,8962.11,48764.41,39802.30,87.8638,https://livingcost.org/cost/india/ap/chirala
3,Chittoor,400,81.5,404,322.5,1.4,35145.52,7160.90,35496.98,28336.08,87.8638,https://livingcost.org/cost/india/ap/chittoor
4,Eluru,298,89.2,384,294.8,1.3,26183.41,7837.45,33739.70,25902.25,87.8638,https://livingcost.org/cost/india/ap/eluru

In [151]:
df.tail()

,City,cost_one_person_usd,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used,source_url
216,Siliguri,297,91.2,279,187.8,0.9,26095.5500,8013.1800,24514.0000,16500.8200,87.8638,https://livingcost.org/cost/india/wb/siliguri
217,South Dumdum,301,118.0,370,252.0,1.1,26447.0000,10367.9300,32509.6100,22141.6800,87.8638,https://livingcost.org/cost/india/wb/south-dumdum
218,Uluberia,324,119.0,376,257.0,1.2,28467.8700,10455.7900,33036.7900,22581.0000,87.8638,https://livingcost.org/cost/india/wb/uluberia
219,Uttarpara,312,116.0,291,175.0,0.9,27413.5100,10192.2000,25568.3700,15376.1600,87.8638,https://livingcost.org/cost/india/wb/uttarpara
220,Alleppey,342,112.5,301,188.5,0.9,30049.4196,9884.6775,26447.0038,16562.3263,87.8638,https://hiracost.com/cost/india/kerala/alleppey/

In [152]:
df.shape

(221, 12)

In [153]:
df.describe()

,cost_one_person_usd,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used
count,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,2.210000e+02
mean,357.932127,119.447059,357.796380,238.349321,1.095475,31449.276197,10495.072342,31437.349338,20942.277133,8.786380e+01
std,91.054379,47.159346,104.077197,114.603182,0.360653,8000.383058,4143.599201,9144.618287,10069.470970,4.415366e-13
min,251.000000,59.700000,179.000000,-187.000000,0.300000,22053.810000,5245.470000,15727.620000,-16430.530000,8.786380e+01
25%,301.000000,92.800000,280.000000,170.000000,0.900000,26447.000000,8153.760000,24601.860000,14936.850000,8.786380e+01
50%,329.000000,112.000000,360.000000,248.000000,1.100000,28907.190000,9840.750000,31630.970000,21790.220000,8.786380e+01
75%,382.000000,129.000000,406.000000,301.000000,1.300000,33563.970000,11334.430000,35672.700000,26447.000000,8.786380e+01
max,705.000000,458.000000,712.000000,621.700000,2.700000,61943.980000,40241.620000,62559.030000,54624.920000,8.786380e+01

In [154]:
df.dtypes

City                             object
cost_one_person_usd               int64
rent_one_person_usd             float64
monthly_salary_after_tax_usd      int64
income_after_rent_usd           float64
months_covered                  float64
cost_one_person_inr             float64
rent_one_person_inr             float64
monthly_salary_after_tax_inr    float64
income_after_rent_inr           float64
usd_to_inr_rate_used            float64
source_url                       object
dtype: object

In [155]:
df.isna().sum()

City                            0
cost_one_person_usd             0
rent_one_person_usd             0
monthly_salary_after_tax_usd    0
income_after_rent_usd           0
months_covered                  0
cost_one_person_inr             0
rent_one_person_inr             0
monthly_salary_after_tax_inr    0
income_after_rent_inr           0
usd_to_inr_rate_used            0
source_url                      0
dtype: int64

In [156]:
x=df.drop(columns = ['City', 'source_url'])
y=df['City']

In [157]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [158]:
from sklearn.preprocessing import StandardScaler

In [159]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [160]:
from sklearn.neighbors import KNeighborsClassifier

In [161]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [162]:
y_pred = knn.predict(x_test)
y_pred

array([' Bardhaman', ' Adoni', ' Bardhaman', ' Aligarh', ' Ernakulam',
       ' Akola', ' Bangalore', ' Aizawl', ' Cuttack', ' Aligarh',
       ' Cuddalore', ' Aligarh', ' Cuttack', ' Agra', ' Asansol',
       ' Durgapur', ' Durgapur', ' Adoni', ' Asansol', ' Adoni',
       ' Baranagar', ' Agra', ' Aurangabad', ' Alleppey', ' Ernakulam',
       ' Bhubaneswar', ' Ernakulam', ' Alleppey', ' Hyderabad, Telangana',
       ' Bhatpara', ' Allahabad', ' Baranagar', ' Aurangabad', ' Adoni',
       ' Bardhaman', ' Cuttack', ' Alleppey', ' Erode', ' Adoni',
       ' Durgapur', ' Asansol', ' Alwar', ' Allahabad', ' Bally',
       ' Aurangabad', ' Ernakulam', ' Allahabad', ' Cuttack',
       ' Allahabad', ' Allahabad', ' Bhavnagar', ' Alleppey', ' Bally',
       ' Bally', ' Dispur', ' Cuttack', ' Agra', ' Akola', ' Allahabad',
       ' Alwar', ' Asansol', ' Bangalore', ' Baranagar', ' Akola',
       ' Bardhaman', ' Alleppey', ' Allahabad'], dtype=object)

In [163]:
print(knn.predict(scaler.transform([['297',	'91.2',	'279',	'187.8',	'0.9',	'26095.5500',	'8013.1800',	'24514.0000',	'16500.8200',	'87.8638']])))

[' Durgapur']

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Data 2:

In [164]:
df1 = pd.read_csv('/content/drive/MyDrive/merged_cities_data (2).csv')
df1

,SL NO,city,gdp_nominal_inr_billion,ua_population_lakhs,eol_score,gdp_norm,pop_norm,eol_norm_filled,composite_score,justification,...,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used,source_url
0,1,Mumbai,13417.150,234.87,58.23,0.872639,0.732458,0.873013,0.826037,"Highest contributor: EoL (GDP_norm=0.873, pop_...",...,401.0,222,-179.0,0.3,61943.9800,35233.3800,19505.7600,-15727.6200,87.8638,https://livingcost.org/cost/india/mh/mumbai
1,2,Bangalore,9285.520,131.93,66.70,0.603922,0.411433,1.000000,0.671785,"Highest contributor: EoL (GDP_norm=0.604, pop_...",...,221.0,311,90.0,0.6,40680.9400,19417.9000,27325.6400,7907.7400,87.8638,https://livingcost.org/cost/india/ka/bangalore
2,3,Delhi,15375.370,320.66,NaN,1.000000,1.000000,0.000000,0.666667,"Highest contributor: GDP (GDP_norm=1.000, pop_...",...,190.0,231,41.0,0.5,42965.4000,16694.1200,20296.5400,3602.4200,87.8638,https://livingcost.org/cost/india/hr/delhi
3,4,Chennai,7560.560,117.99,62.61,0.491732,0.367960,0.938681,0.599457,"Highest contributor: EoL (GDP_norm=0.492, pop_...",...,159.0,321,162.0,0.7,41295.9900,13970.3400,28204.2800,14233.9400,87.8638,https://livingcost.org/cost/india/tn/chennai
4,5,Ahmedabad,5001.760,84.50,64.87,0.325310,0.263519,0.972564,0.520464,"Highest contributor: EoL (GDP_norm=0.325, pop_...",...,159.0,310,151.0,0.7,38835.8000,13970.3400,27237.7800,13267.4300,87.8638,https://livingcost.org/cost/india/gj/ahmedabad
5,6,Pune,4181.040,69.87,66.27,0.271931,0.217894,0.993553,0.494460,"Highest contributor: EoL (GDP_norm=0.272, pop_...",...,209.0,490,281.0,0.9,45425.5800,18363.5300,43053.2600,24689.7300,87.8638,https://livingcost.org/cost/india/mh/pune
6,7,Surat,3497.270,77.84,61.73,0.227459,0.242749,0.925487,0.465232,"Highest contributor: EoL (GDP_norm=0.227, pop_...",...,458.0,271,-187.0,0.4,28292.1400,40241.6200,23811.0900,-16430.5300,87.8638,https://livingcost.org/cost/india/gj/surat
7,8,Coimbatore,2684.220,47.34,59.72,0.174579,0.147633,0.895352,0.405855,"Highest contributor: EoL (GDP_norm=0.175, pop_...",...,114.0,389,275.0,1.2,31191.6500,10016.4700,34179.0200,24162.5400,87.8638,https://livingcost.org/cost/india/tn/coimbatore
8,9,Vadodara,1708.060,22.77,59.24,0.111091,0.071010,0.888156,0.356752,"Highest contributor: EoL (GDP_norm=0.111, pop_...",...,129.0,349,220.0,0.9,32861.0600,11334.4300,30664.4700,19330.0400,87.8638,https://livingcost.org/cost/india/gj/vadodara
9,10,Indore,827.660,32.09,58.58,0.053830,0.100075,0.878261,0.344055,"Highest contributor: EoL (GDP_norm=0.054, pop_...",...,128.0,332,204.0,0.9,31718.8300,11246.5700,29170.7800,17924.2200,87.8638,https://livingcost.org/cost/india/mp/indore
10,11,Kolkata,6212.510,164.69,NaN,0.404056,0.513597,0.000000,0.305884,Highest contributor: Population (GDP_norm=0.40...,...,121.0,354,233.0,1.0,26447.0000,10631.5200,31103.7900,20472.2700,87.8638,https://livingcost.org/cost/india/wb/kolkata
11,12,Hyderabad,6613.100,105.34,NaN,0.430110,0.328510,0.000000,0.252873,"Highest contributor: GDP (GDP_norm=0.430, pop_...",...,170.0,290,120.0,0.6,41295.9900,14936.8500,25480.5000,10543.6600,87.8638,https://livingcost.org/cost/india/tg/hyderabad
12,13,Jaipur,1497.670,41.07,NaN,0.097407,0.128080,0.000000,0.075162,Highest contributor: Population (GDP_norm=0.09...,...,125.0,341,216.0,0.9,29610.1000,10982.9800,29961.5600,18978.5800,87.8638,https://livingcost.org/cost/india/rj/jaipur
13,14,Visakhapatnam,1740.500,27.13,NaN,0.113201,0.084607,0.000000,0.065936,"Highest contributor: GDP (GDP_norm=0.113, pop_...",...,111.0,222,111.0,0.6,27237.7800,9752.8800,19505.7600,9752.8800,87.8638,https://livingcost.org/cost/india/ap/visakhapa...
14,15,Nagpur,1526.290,29.91,NaN,0.099269,0.093276,0.000000,0.064182,"Highest contributor: GDP (GDP_norm=0.099, pop_...",...,227.0,293,66.0,0.5,25568.3700,19945.0800,25744.0900,5799.0100,87.8638,https://livingcost.org/cost/india/mh/nagpur
15,16,Kochi,1359.980,33.01,NaN,0.088452,0.102944,0.000000,0.063799,Highest contributor: Population (GDP_norm=0.08...,...,134.0,337,203.0,0.9,56760.0100,11773.7500,29610.1000,17836.3500,87.8638,https://livingcost.org/cost/india/kl/kochi
16,17,Amravati,1221.740,32.85,NaN,0.079461,0.102445,0.000000,0.060635,Highest contributor: Population (GDP_norm=0.07...,...,87.9,414,326.1,1.3,42789.6700,7723.2300,36375.6100,28652.3900,87.8638,https://livingcost.org/cost/india/mh/amravati
17,18,Lucknow,902.220,38.54,NaN,0.058680,0.120190,0.000000,0.059623,Highest contributor: Population (GDP_norm=0.05...,...,113.0,352,239.0,1.0,33915.4300,9928.6100,30928.0600,20999.4500,87.8638,https://livingcost.org/cost/india/up/lucknow
18,19,Kozhikode,862.194,39.21,NaN,0.056076,0.122279,0.000000,0.059452,Highest contributor: Population (GDP_norm=0.05...,...,96.0,245,149.0,0.8,38396.4800,8434.9200,21526.6300,13091.7100,87.8638,https://livingcost.org/cost/india/kl/kozhikode
19,20,Malappuram,895.170,38.16,NaN,0.058221,0.119005,0.000000,0.059075,Highest contributor: Population (GDP_norm=0.05...,...,94.6,231,136.4,0.8,40680.9400,8311.9200,20296.5400,11984.6200,87.8638,https://livingcost.org/cost/india/kl/malappuram
20,21,Thrissur,1057.780,33.51,NaN,0.068797,0.104503,0.000000,0.057767,Highest contributor: Population (GDP_norm=0.06...,...,132.0,325,193.0,0.9,56760.0100,11598.0200,28555.7400,16957.7100,87.8638,https://livingcost.org/cost/india/kl/thrissur
21,22,Thiruvananthapuram,1006.970,27.93,NaN,0.065492,0.087102,0.000000,0.050865,Highest contributor: Population (GDP_norm=0.06...,...,127.0,227,100.0,0.7,56760.0100,11158.7000,19945.0800,8786.3800,87.8638,https://livingcost.org/cost/india/kl/thiruvana...
22,23,Patna,918.300,25.29,NaN,0.059725,0.078869,0.000000,0.046198,Highest contributor: Population (GDP_norm=0.06...,...,103.0,313,210.0,1.0,28116.4200,9049.9700,27501.3700,18451.4000,87.8638,https://livingcost.org/cost/india/br/patna
23,24,Rajkot,1163.760,19.89,NaN,0.075690,0.062028,0.000000,0.045906,"Highest contributor: GDP (GDP_norm=0.076, pop_...",...,104.0,216,112.0,0.7,28467.8700,9137.8400,18978.5800,9840.7500,87.8638,https://livingcost.org/cost/india/gj/rajkot
24,25,Asansol,865.440,23.50,NaN,0.056287,0.073286,0.000000,0.043191,Highest contributor: Population (GDP_norm=0.05...,...,86.0,383,297.0,1.3,25129.0500,7556.2900,33651.8400,26095.5500,87.8638,https://livingcost.org/cost/india/wb/asansol
25,26,Kollam,975.560,20.26,NaN,0.063450,0.063182,0.000000,0.042211,"Highest contributor: GDP (GDP_norm=0.063, pop_...",...,72.7,262,189.3,1.0,22229.5400,6387.7000,23020.3200,16632.6200,87.8638,https://livingcost.org/cost/india/kl/kollam
26,27,Nashik,864.350,21.80,NaN,0.056217,0.067985,0.000000,0.041400,Highest contributor: Population (GDP_norm=0.05...,...,114.0,561,447.0,1.6,30752.3300,10016.4700,49291.5900,39275.1200,87.8638,https://livingcost.org/cost/india/mh/nashik
27,28,Chandigarh,966.200,17.36,NaN,0.062841,0.054138,0.000000,0.038993,"Highest contributor: GDP (GDP_norm=0.063, pop_...",...,139.0,331,192.0,0.9,37517.8400,12213.0700,29082.9200,16869.8500,87.8638,https://livingcost.org/cost/india/pb/chandigarh
28,29,Bhubaneswar,843.110,19.89,NaN,0.054835,0.062028,0.000000,0.038954,Highest contributor: Population (GDP_norm=0.05...,...,124.0,419,295.0,1.1,25480.5000,10895.1100,36814.9300,25919.8200,87.8638,https://livingcost.org/cost/india/or/bhubaneswar
29,30,Alleppey,826.000,19.16,NaN,0.053722,0.059752,0.000000,0.037825,Highest contributor: Population (GDP_norm=0.05...,...,112.5,301,188.5,0.9,30049.4196,9884.6775,26447.0038,16562.3263,87.8638,https://hiracost.com/cost/india/kerala/alleppey/

In [165]:
df1.describe()

,SL NO,gdp_nominal_inr_billion,ua_population_lakhs,eol_score,gdp_norm,pop_norm,eol_norm_filled,composite_score,cost_one_person_usd,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used
count,30.000000,30.000000,30.000000,9.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,3.000000e+01
mean,15.500000,3195.248467,63.945333,61.994444,0.207816,0.199418,0.278836,0.228690,417.000000,152.056667,321.433333,169.376667,0.853333,36639.204320,13360.276250,28242.354460,14882.078543,8.786380e+01
std,8.803408,3822.752912,70.009573,3.311530,0.248628,0.218330,0.433994,0.243578,121.155358,85.050535,80.183704,127.907598,0.281294,10645.169242,7472.862416,7045.245027,11238.447805,4.336138e-14
min,1.000000,826.000000,17.360000,58.230000,0.053722,0.054138,0.000000,0.037825,253.000000,72.700000,216.000000,-187.000000,0.300000,22229.540000,6387.700000,18978.580000,-16430.530000,8.786380e+01
25%,8.250000,906.240000,23.947500,59.240000,0.058941,0.074682,0.000000,0.047365,322.500000,111.375000,264.250000,114.000000,0.700000,28336.072500,9785.829375,23218.012500,10016.477500,8.786380e+01
50%,15.500000,1290.860000,33.260000,61.730000,0.083956,0.103724,0.000000,0.063990,380.000000,126.000000,317.000000,190.650000,0.900000,33388.245000,11070.840000,27852.825000,16751.235000,8.786380e+01
75%,22.750000,4010.097500,75.847500,64.870000,0.260813,0.236536,0.876949,0.393579,470.000000,159.000000,351.250000,229.750000,1.000000,41295.990000,13970.340000,30862.162500,20186.712500,8.786380e+01
max,30.000000,15375.370000,320.660000,66.700000,1.000000,1.000000,1.000000,0.826037,705.000000,458.000000,561.000000,447.000000,1.600000,61943.980000,40241.620000,49291.590000,39275.120000,8.786380e+01

In [166]:
df1.head()

,SL NO,city,gdp_nominal_inr_billion,ua_population_lakhs,eol_score,gdp_norm,pop_norm,eol_norm_filled,composite_score,justification,...,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used,source_url
0,1,Mumbai,13417.15,234.87,58.23,0.872639,0.732458,0.873013,0.826037,"Highest contributor: EoL (GDP_norm=0.873, pop_...",...,401.0,222,-179.0,0.3,61943.98,35233.38,19505.76,-15727.62,87.8638,https://livingcost.org/cost/india/mh/mumbai
1,2,Bangalore,9285.52,131.93,66.70,0.603922,0.411433,1.000000,0.671785,"Highest contributor: EoL (GDP_norm=0.604, pop_...",...,221.0,311,90.0,0.6,40680.94,19417.90,27325.64,7907.74,87.8638,https://livingcost.org/cost/india/ka/bangalore
2,3,Delhi,15375.37,320.66,NaN,1.000000,1.000000,0.000000,0.666667,"Highest contributor: GDP (GDP_norm=1.000, pop_...",...,190.0,231,41.0,0.5,42965.40,16694.12,20296.54,3602.42,87.8638,https://livingcost.org/cost/india/hr/delhi
3,4,Chennai,7560.56,117.99,62.61,0.491732,0.367960,0.938681,0.599457,"Highest contributor: EoL (GDP_norm=0.492, pop_...",...,159.0,321,162.0,0.7,41295.99,13970.34,28204.28,14233.94,87.8638,https://livingcost.org/cost/india/tn/chennai
4,5,Ahmedabad,5001.76,84.50,64.87,0.325310,0.263519,0.972564,0.520464,"Highest contributor: EoL (GDP_norm=0.325, pop_...",...,159.0,310,151.0,0.7,38835.80,13970.34,27237.78,13267.43,87.8638,https://livingcost.org/cost/india/gj/ahmedabad

In [167]:
df1.tail()

,SL NO,city,gdp_nominal_inr_billion,ua_population_lakhs,eol_score,gdp_norm,pop_norm,eol_norm_filled,composite_score,justification,...,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used,source_url
25,26,Kollam,975.56,20.26,NaN,0.063450,0.063182,0.0,0.042211,"Highest contributor: GDP (GDP_norm=0.063, pop_...",...,72.7,262,189.3,1.0,22229.5400,6387.7000,23020.3200,16632.6200,87.8638,https://livingcost.org/cost/india/kl/kollam
26,27,Nashik,864.35,21.80,NaN,0.056217,0.067985,0.0,0.041400,Highest contributor: Population (GDP_norm=0.05...,...,114.0,561,447.0,1.6,30752.3300,10016.4700,49291.5900,39275.1200,87.8638,https://livingcost.org/cost/india/mh/nashik
27,28,Chandigarh,966.20,17.36,NaN,0.062841,0.054138,0.0,0.038993,"Highest contributor: GDP (GDP_norm=0.063, pop_...",...,139.0,331,192.0,0.9,37517.8400,12213.0700,29082.9200,16869.8500,87.8638,https://livingcost.org/cost/india/pb/chandigarh
28,29,Bhubaneswar,843.11,19.89,NaN,0.054835,0.062028,0.0,0.038954,Highest contributor: Population (GDP_norm=0.05...,...,124.0,419,295.0,1.1,25480.5000,10895.1100,36814.9300,25919.8200,87.8638,https://livingcost.org/cost/india/or/bhubaneswar
29,30,Alleppey,826.00,19.16,NaN,0.053722,0.059752,0.0,0.037825,Highest contributor: Population (GDP_norm=0.05...,...,112.5,301,188.5,0.9,30049.4196,9884.6775,26447.0038,16562.3263,87.8638,https://hiracost.com/cost/india/kerala/alleppey/

In [168]:
df1.shape

(30, 23)

In [169]:
df1.dtypes

SL NO                             int64
city                             object
gdp_nominal_inr_billion         float64
ua_population_lakhs             float64
eol_score                       float64
gdp_norm                        float64
pop_norm                        float64
eol_norm_filled                 float64
composite_score                 float64
justification                    object
citations                        object
matched_source_url_in_master     object
cost_one_person_usd               int64
rent_one_person_usd             float64
monthly_salary_after_tax_usd      int64
income_after_rent_usd           float64
months_covered                  float64
cost_one_person_inr             float64
rent_one_person_inr             float64
monthly_salary_after_tax_inr    float64
income_after_rent_inr           float64
usd_to_inr_rate_used            float64
source_url                       object
dtype: object

In [170]:
df1.isna().sum()

SL NO                            0
city                             0
gdp_nominal_inr_billion          0
ua_population_lakhs              0
eol_score                       21
gdp_norm                         0
pop_norm                         0
eol_norm_filled                  0
composite_score                  0
justification                    0
citations                        0
matched_source_url_in_master     4
cost_one_person_usd              0
rent_one_person_usd              0
monthly_salary_after_tax_usd     0
income_after_rent_usd            0
months_covered                   0
cost_one_person_inr              0
rent_one_person_inr              0
monthly_salary_after_tax_inr     0
income_after_rent_inr            0
usd_to_inr_rate_used             0
source_url                       0
dtype: int64

In [175]:
df1.drop(columns=['eol_score','justification','citations','matched_source_url_in_master','source_url'],inplace=True)

In [176]:
x1 = df1.drop(columns=['city'])
y1 = df1['city']

In [182]:
df1

,SL NO,city,gdp_nominal_inr_billion,ua_population_lakhs,gdp_norm,pop_norm,eol_norm_filled,composite_score,cost_one_person_usd,rent_one_person_usd,monthly_salary_after_tax_usd,income_after_rent_usd,months_covered,cost_one_person_inr,rent_one_person_inr,monthly_salary_after_tax_inr,income_after_rent_inr,usd_to_inr_rate_used
0,1,Mumbai,13417.150,234.87,0.872639,0.732458,0.873013,0.826037,705,401.0,222,-179.0,0.3,61943.9800,35233.3800,19505.7600,-15727.6200,87.8638
1,2,Bangalore,9285.520,131.93,0.603922,0.411433,1.000000,0.671785,463,221.0,311,90.0,0.6,40680.9400,19417.9000,27325.6400,7907.7400,87.8638
2,3,Delhi,15375.370,320.66,1.000000,1.000000,0.000000,0.666667,489,190.0,231,41.0,0.5,42965.4000,16694.1200,20296.5400,3602.4200,87.8638
3,4,Chennai,7560.560,117.99,0.491732,0.367960,0.938681,0.599457,470,159.0,321,162.0,0.7,41295.9900,13970.3400,28204.2800,14233.9400,87.8638
4,5,Ahmedabad,5001.760,84.50,0.325310,0.263519,0.972564,0.520464,442,159.0,310,151.0,0.7,38835.8000,13970.3400,27237.7800,13267.4300,87.8638
5,6,Pune,4181.040,69.87,0.271931,0.217894,0.993553,0.494460,517,209.0,490,281.0,0.9,45425.5800,18363.5300,43053.2600,24689.7300,87.8638
6,7,Surat,3497.270,77.84,0.227459,0.242749,0.925487,0.465232,322,458.0,271,-187.0,0.4,28292.1400,40241.6200,23811.0900,-16430.5300,87.8638
7,8,Coimbatore,2684.220,47.34,0.174579,0.147633,0.895352,0.405855,355,114.0,389,275.0,1.2,31191.6500,10016.4700,34179.0200,24162.5400,87.8638
8,9,Vadodara,1708.060,22.77,0.111091,0.071010,0.888156,0.356752,374,129.0,349,220.0,0.9,32861.0600,11334.4300,30664.4700,19330.0400,87.8638
9,10,Indore,827.660,32.09,0.053830,0.100075,0.878261,0.344055,361,128.0,332,204.0,0.9,31718.8300,11246.5700,29170.7800,17924.2200,87.8638
10,11,Kolkata,6212.510,164.69,0.404056,0.513597,0.000000,0.305884,301,121.0,354,233.0,1.0,26447.0000,10631.5200,31103.7900,20472.2700,87.8638
11,12,Hyderabad,6613.100,105.34,0.430110,0.328510,0.000000,0.252873,470,170.0,290,120.0,0.6,41295.9900,14936.8500,25480.5000,10543.6600,87.8638
12,13,Jaipur,1497.670,41.07,0.097407,0.128080,0.000000,0.075162,337,125.0,341,216.0,0.9,29610.1000,10982.9800,29961.5600,18978.5800,87.8638
13,14,Visakhapatnam,1740.500,27.13,0.113201,0.084607,0.000000,0.065936,310,111.0,222,111.0,0.6,27237.7800,9752.8800,19505.7600,9752.8800,87.8638
14,15,Nagpur,1526.290,29.91,0.099269,0.093276,0.000000,0.064182,291,227.0,293,66.0,0.5,25568.3700,19945.0800,25744.0900,5799.0100,87.8638
15,16,Kochi,1359.980,33.01,0.088452,0.102944,0.000000,0.063799,646,134.0,337,203.0,0.9,56760.0100,11773.7500,29610.1000,17836.3500,87.8638
16,17,Amravati,1221.740,32.85,0.079461,0.102445,0.000000,0.060635,487,87.9,414,326.1,1.3,42789.6700,7723.2300,36375.6100,28652.3900,87.8638
17,18,Lucknow,902.220,38.54,0.058680,0.120190,0.000000,0.059623,386,113.0,352,239.0,1.0,33915.4300,9928.6100,30928.0600,20999.4500,87.8638
18,19,Kozhikode,862.194,39.21,0.056076,0.122279,0.000000,0.059452,437,96.0,245,149.0,0.8,38396.4800,8434.9200,21526.6300,13091.7100,87.8638
19,20,Malappuram,895.170,38.16,0.058221,0.119005,0.000000,0.059075,463,94.6,231,136.4,0.8,40680.9400,8311.9200,20296.5400,11984.6200,87.8638
20,21,Thrissur,1057.780,33.51,0.068797,0.104503,0.000000,0.057767,646,132.0,325,193.0,0.9,56760.0100,11598.0200,28555.7400,16957.7100,87.8638
21,22,Thiruvananthapuram,1006.970,27.93,0.065492,0.087102,0.000000,0.050865,646,127.0,227,100.0,0.7,56760.0100,11158.7000,19945.0800,8786.3800,87.8638
22,23,Patna,918.300,25.29,0.059725,0.078869,0.000000,0.046198,320,103.0,313,210.0,1.0,28116.4200,9049.9700,27501.3700,18451.4000,87.8638
23,24,Rajkot,1163.760,19.89,0.075690,0.062028,0.000000,0.045906,324,104.0,216,112.0,0.7,28467.8700,9137.8400,18978.5800,9840.7500,87.8638
24,25,Asansol,865.440,23.50,0.056287,0.073286,0.000000,0.043191,286,86.0,383,297.0,1.3,25129.0500,7556.2900,33651.8400,26095.5500,87.8638
25,26,Kollam,975.560,20.26,0.063450,0.063182,0.000000,0.042211,253,72.7,262,189.3,1.0,22229.5400,6387.7000,23020.3200,16632.6200,87.8638
26,27,Nashik,864.350,21.80,0.056217,0.067985,0.000000,0.041400,350,114.0,561,447.0,1.6,30752.3300,10016.4700,49291.5900,39275.1200,87.8638
27,28,Chandigarh,966.200,17.36,0.062841,0.054138,0.000000,0.038993,427,139.0,331,192.0,0.9,37517.8400,12213.0700,29082.9200,16869.8500,87.8638
28,29,Bhubaneswar,843.110,19.89,0.054835,0.062028,0.000000,0.038954,290,124.0,419,295.0,1.1,25480.5000,10895.1100,36814.9300,25919.8200,87.8638
29,30,Alleppey,826.000,19.16,0.053722,0.059752,0.000000,0.037825,342,112.5,301,188.5,0.9,30049.4196,9884.6775,26447.0038,16562.3263,87.8638

In [177]:
x1_train,x1_test,y1_train,y1_test = train_test_split(x1,y1,test_size=0.3)

In [178]:
scaler1 = StandardScaler()
scaler1.fit(x1_train)
x1_train = scaler1.transform(x1_train)
x1_test  = scaler1.transform(x1_test)

In [179]:
KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(x1_train,y1_train)

KNeighborsClassifier()

In [181]:
y_pred = KNN.predict(x1_test)
y_pred

array(['Ahmedabad', 'Alleppey', 'Ahmedabad', 'Alleppey', 'Alleppey',
       'Alleppey', 'Ahmedabad', 'Ahmedabad', 'Alleppey'], dtype=object)

In [186]:
print(KNN.predict(scaler1.transform([['1','13417.150',	'234.87',	'0.872639',	'0.732458',	'0.873013',	'0.826037',	'705',	'401.0',	'222',	'-179.0',	'0.3',	'61943.9800',	'35233.3800',	'19505.7600',	'-15727.6200',	'87.8638']])))

['Ahmedabad']

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(