<a href="https://colab.research.google.com/github/grace-mariya/Data-Ai-Journey/blob/main/Pandas_Learning_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 8

In [ ]:
#Merging joining and Concatenation
import pandas as pd

df1=pd.DataFrame({'ID':[1,2,3], "Name":['A','B','C']})
df2=pd.DataFrame({'ID':[4,5,6], "Name":['D','E','F']})

#combine vertically (add rows)
result = pd.concat([df1, df2])
print(result)

   ID Name
0   1    A
1   2    B
2   3    C
0   4    D
1   5    E
2   6    F

In [ ]:
result = pd.concat([df1, df2], axis=1) #add by column
print(result)

   ID Name  ID Name
0   1    A   4    D
1   2    B   5    E
2   3    C   6    F

In [ ]:
stud = pd.DataFrame({
    'ID': [1,2,3,4],
    'Name': ["Grace","Licin","Treasa","Farzi"]
})

mrk=pd.DataFrame({
    'ID':[1,2,3,5],
    'Marks':[85,90,95,80]
})

#inner join-> only matching IDs
print("Inner Join:")
inner = pd.merge(stud,mrk, on = 'ID', how='inner')
print(inner)
print("\n")
# Left join → all from students
print("Left join:")
left=pd.merge(stud,mrk,on='ID',how='left')
print(left)
print("\n")
# Outer join → all from both
print("Outer join:")
outer = pd.merge(stud, mrk, on='ID', how='outer')
print(outer)

Inner Join:
   ID    Name  Marks
0   1   Grace     85
1   2   Licin     90
2   3  Treasa     95


Left join:
   ID    Name  Marks
0   1   Grace   85.0
1   2   Licin   90.0
2   3  Treasa   95.0
3   4   Farzi    NaN


Outer join:
   ID    Name  Marks
0   1   Grace   85.0
1   2   Licin   90.0
2   3  Treasa   95.0
3   4   Farzi    NaN
4   5     NaN   80.0

# Day 9

In [ ]:
#set & reset index
import pandas as pd
data = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Marks': [85, 90, 95]
})

# Set index
data = data.set_index('ID')
print(data)

print("\n")

# Reset index back to normal
data = data.reset_index()
print(data)

       Name  Marks
ID
1     Alice     85
2       Bob     90
3   Charlie     95


   ID     Name  Marks
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     95

In [ ]:
multi = pd.DataFrame({
    'Class': ['10', '10', '11', '11'],
    'Section': ['A', 'B', 'A', 'B'],
    'Student': ['A', 'B', 'C', 'D'],
    'Marks': [85, 88, 90, 92]
})

multi = multi.set_index(['Class', 'Section'])
print(multi)

print("\n")

# Access a specific group
print(multi.loc['10'])

              Student  Marks
Class Section
10    A             A     85
      B             B     88
11    A             C     90
      B             D     92


        Student  Marks
Section
A             A     85
B             B     88

In [ ]:
#String Operation
df=pd.DataFrame({'Name':['Alice','bob','CHARLIE']})
df['Name_clean']=df['Name'].str.strip().str.title()
print(df)

      Name Name_clean
0    Alice      Alice
1      bob        Bob
2  CHARLIE    Charlie

In [ ]:
#Datetime Operation:
df=pd.DataFrame({
    'Date':['2025-01-01', '2025-02-01', '2025-03-01']})
df['Date']=pd.to_datetime(df['Date'])
df['Month']=df['Date'].dt.month
df['Day']=df['Date'].dt.day_name()
print(df)

        Date  Month        Day
0 2025-01-01      1  Wednesday
1 2025-02-01      2   Saturday
2 2025-03-01      3   Saturday